*.*~
*.db
*.DS_Store
*.box
*.cer
*.log
*.mo
*.pem
*.p12
*.pyc
*.sql
*.xls
env/
.coverage
.dev/
.envs/
!.envs/.local/
.pytest_cache/
.idea/
.vscode/

coverage.xml
development.yml
htmlcov/
id_rsa
neo4j/
secrets/
static/
test-media/
staticfiles


zappa_scripts/

postpay/*
!postpay/*.py
!postpay/users
!postpay/sidebar
!postpay/templates

venv/
/.devcontainer
/.vim
